table {
  text-align: center;
  border-collapse: collapse;
}

.leave-table {
  float:center;
  margin: auto;
  width: 800px;
  height: 200px;
  overflow: scroll;
  border: 2px solid #ddd;
}

table th,
table td {
  white-space: nowrap;
  padding: 10px 20px;
  font-family: Arial;
}

table tr th:first-child,
table td:first-child {
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 10;
  background: #fff;
}

table tr th:first-child {
  z-index: 11;
}

table tr th {
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 9;
  background: #fff;
}

table tr.header, tr:hover {
  background-color: #f1f1f1;
}


.sale_waybill {
    float: center;
    margin: 0 auto;
    flex-direction: column;
    width: 800px;
    height: 300px;
    font-family: sans-serif;
}

.waybill-name {
    text-align: center;
    color: #FFFFFF;
    padding: 26px;
    background-color: #3CB371;
}

.waybill-name h3 {
    font-size: 1.2em;
    font-weight: 500;
}

.waybill-block {
    float: center;
    font-size: 20px;
    padding: 16px;
}