{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/product.css">
    <link rel="stylesheet" href="css/product.css">
{% endblock styles %}
<body>
{% block content %}
<form action="" method="POST">
            <div class="add-product-content">
                <div class="field">
                    <label>Группа</label>
                    <select id="category" name="category">
                        <option value="1">ТВ-LCD</option>
                        <option value="2">ТВ-ЭЛТ</option>
                    </select>
                </div>
                <div class="field">
                    <label>Код товара</label>
                    <input type="number" id="product_code" name="product_code" placeholder="Код товара XXXXXXXX" required >
                </div>
                <div class="field">
                    <label>Наименование товара</label>
                    <input type="text" id="product_name" name="product_name" placeholder="Наименование товара" required >
                </div>
                <div class="field">
                    <label>Диагональ</label>
                    <input type="number", min="19" max="70" id="diagonal" name="diagonal" placeholder="Диагональ" required >
                </div>
                <div class="field">
                    <label>Вес</label>
                    <input type="number", step="0.1"id="weight" name="weight" placeholder="Вес X.X" required >
                </div>
                <div class="field">
                    <label>Объем</label>
                    <input type="number", step="0.001" id="volume" name="volume" placeholder="Объем X.XXX" required >
                </div>
                <button value="Refresh Page" onClick="window.location.reload();">Добавить товар</button>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
                   {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                   {% endif %}
                {% endwith %}
    <h4>Справочник товаров</h4>
        <div class="product-table">
            <table>
                    <tr class="product-header">
                        <th>Группа:</th>
                        <th>Код товара:</th>
                        <th>Наименование товара:</th>
                        <th>Диагональ:</th>
                        <th>Вес:</th>
                        <th>Объем:</th>
                    </tr>
                {% for t in table %}
                    <tr>
                        <td>{{t[0]}}</td>
                        <td>{{t[1]}}</td>
                        <td>{{t[2]}}</td>
                        <td>{{t[3]}}</td>
                        <td>{{t[4]}}</td>
                        <td>{{t[5]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
</body>
